@model CJRProfileBlog.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
}


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Alternatif | Kagum - Responsive Blog Templates</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <meta name="description" content="Kagum Responsive Blog Templates" />
    <meta name="keywords" content="resposinve, bootstrap templates, blog templates" />
    <meta name="author" content="Candra Dwi Waskito" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- start:login -->
    <div id="login-alt">
        <div class="container">
            <div class="box-login-alt">
             @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
             {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="text-center">
                            <div>&emsp;</div>
                            <h3>Forgot Password?</h3>
                            <h4>Enter Email Addres Below</h4>
                            <p>@Html.ActionLink("Back to Login", "Login")</p>
                            <hr />
                        </div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="input-group">

                                <span class="input-group-addon">Email&emsp;<i class="fa fa-user"></i></span>
                               @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                <!--input type="text" class="form-control" placeholder="Username">-->
                            </div>
                        </div>
                        <div>&emsp;</div>
                        <div class="form-group paddme">
                            <input type="submit" class="btn btn-warning btn-block" value="Email Link" />
                        </div>
                     </form>
                }
            </div>
        </div>
    </div>
    <!-- end:login -->
    <!-- start:javascript -->
    <script src="~/js/jquery-1.11.1.min.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script src="~/js/bootstrap.min.js"></script>
    <!-- end:javascript -->

</body>
</html>
