@model CJRProfileBlog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}
<div class="whitebkg">

<div>
    <div class="text-center">
        <div>&emsp;</div>
        <h3>Blog Post Details</h3>
        <p>@Html.ActionLink("BACK TO LIST", "Index" )| @Html.ActionLink("EDIT", "Edit", new { id = Model.Id }) |
       |@Html.ActionLink("DELETE", "Delete",new { id = Model.Id })|@Html.ActionLink("ADD COMMENT", "Create","Comments", new { id = Model.Id},null)</p>
        <hr />
    </div>
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(Model.MediaURL)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>
    </dl>
</div>
    <hr />
<div class="text-center"><h3>Comments</h3></div>
 <div class="text-center">@Html.ActionLink("ADD COMMENT", "Create", "Comments", new {id = Model.Id })</div>
    <table class="table">
       
        @foreach (var comments in Model.Comments)
        {
            <tr style="outline: medium solid #f1c40f">
                <td>
                    <p>@Html.DisplayFor(model => comments.Body)</p>
                    <p>Author: @Html.DisplayFor(model => comments.Author.Email)&emsp;Created:@Html.DisplayFor(model => comments.Created)&emsp;Updated:@Html.DisplayFor(modelItem => comments.Updated)</p>
                    
                    <p>@Html.ActionLink("EDIT", "Edit", "Comments", new { id = comments.Id }, null)

                    |@Html.ActionLink("DELETE", "Delete", "Comments", new { id = comments.Id }, null)</p>
                </td>
            </tr>
                   
        }

    </table>
</div>